.container {
  /* If header is fixed */
  padding-top: calc(80px + 77px);
  /* else uncomment this */
  /* padding-top: 80px; */
  display: flex;
  justify-content: center;
}

.errorMessage {
  color: red;
}

@media screen and (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }
}
