.container {
  display: flex;
  justify-content: space-between;
}

.container:not(:last-child) {
  margin-bottom: 41px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniCart .brand {
  margin-bottom: 5px;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

.attributeList {
  display: flex;
}

.attributeItem {
  position: relative;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  /* background-color: #1d1f22;
  color: #fff; */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  border: 1px solid #1d1f22;
}

.attributeValue {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.controlsAndImage {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.controlItem > span {
  display: block;
  padding: 0 8.54px;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid #1d1f22;
  cursor: pointer;
  transition: 0.3s;
}

.controlItem > span:hover {
  background-color: #1d1f22;
  color: #fff;
}

.controls > p {
  font-weight: bold;
}

.image {
  margin-left: 10px;
  width: 105px;
  height: 137px;
  object-fit: cover;
  border: 1px solid #1d1f22;
}
