@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: auto;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.error-message {
  color: red;
  text-align: center;
}
